.container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-image: url("./images/login-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.image {
  max-width: 500px;
  height: auto;
  margin-right: 200px;
}

.login-form {
  width: 430px;
  border-radius: 6px;
  background-color: #f3f6fb;
}

.login-form h1 {
  height: 60px;
  line-height: 60px;
  font-size: 24px;
  font-weight: 500;
  color: #6a7c97;
  text-align: center;
  background: linear-gradient(0deg, #cfd6e0 0%, #f1f4f9 100%);
  border-radius: 6px 6px 0 0;
}
